<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    
    <!-- Tipo -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sigmar&family=Walter+Turncoat&display=swap" rel="stylesheet">
    
    <!-- CSS -->
    <link rel="stylesheet" href="../assets/css/blog.css">
    <!-- Data -->
    <link rel="icon" href="/img/LRM.ico">
    <title>La Receta Mágica | Blog</title>
</head>

<body>

  <!-- Navbar -->
  {% include '/navbar.html' %}


  <div class="container">
    <div class="row">
      <div class="col-sm-3 text-center">
        Level 1: .col-sm-3
      </div>
      <div class="col-sm-9">
          <div class="col-8 col-sm-6">
            Level 2: .col-8 .col-sm-6
          </div>

        </div>
     
    </div>
  </div>

  

  <!-- Contenido Principal -->
   
  

  <!-- Bootstrap JS y dependencias -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>

</body>
</html>
