<div id="carouselExampleDark" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>  
  
    <div class="carousel-inner">
  
      <!-- Slide 1 -->
      <div class="carousel-item active" data-bs-interval="8000">
        <div class="container-fluid position-relative p-0">
          <div class="bg-image" style="background-image: url('/img/challenge/kfc.png'); background-size: cover; background-position: center; height: 500px;"></div>
          <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center justify-content-end">
            <div class="container">
              <div class="col-md-6 p-5 rounded text-white texto-borde-negro">
                <h1 class="display-4">
                  <a href="/desafio/kfc" class="link_amp">¡{{ "Desafío" | trans }} KENTUCKY FRIED TURKEY!</a>
                </h1>
                <p class="lead texto-borde-negro">
                    {{ "Sube tu mejor receta que contenga: " | trans }}<strong>{{ "Pollo Frito" | trans }}</strong>, <strong>{{ "Patatas" | trans }}</strong>{{ " y una " | trans }}<strong>{{ "Salsa" | trans }}</strong>{{ " deliciosa" | trans }}.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Slide 2 -->
      <div class="carousel-item" data-bs-interval="8000">
        <div class="container-fluid position-relative p-0">
          <div class="bg-image" style="background-image: url('/img/challenge/surena.jpg'); background-size: cover; background-position: center; height: 500px;"></div>
          <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center justify-content-end">
            <div class="container">
              <div class="col-md-6 p-5 rounded text-white texto-borde-negro">
                <h1 class="display-4">
                  <a href="/desafio/kfc" class="link_amp">¡{{ "Desafío" | trans }} <br>LA SUREÑA!</a>
                </h1>
                <p class="lead texto-borde-negro">
                    {{ "Comparte la tapa perfecta: " | trans }}<strong>{{ "pequeña" | trans }}</strong>{{ " en tamaño, gigante en " | trans }}<strong>{{ "sabor" | trans }}</strong>. {{" ¿Listo para" | trans }} <strong>{{ "impresionar" | trans }}</strong> {{ "con un solo bocado?" | trans }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Slide 3 -->
      <div class="carousel-item" data-bs-interval="8000">
        <div class="container-fluid position-relative p-0">
          <div class="bg-image" style="background-image: url('/img/challenge/puertoindias.jpg'); background-size: cover; background-position: center; height: 500px;"></div>
          <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center justify-content-end">
            <div class="container">
              <div class="col-md-6 p-5 rounded text-white texto-borde-negro">
                <h1 class="display-4">
                  <a href="/desafio/kfc" class="link_amp">¡{{ "Desafío" | trans }} <br>PUERTO DE INDIAS GIN!</a>
                </h1>
                <p class="lead texto-borde-negro">
                    {{ "Crea el cóctel perfecto: " | trans }}<strong>{{ "atractivo" | trans }}</strong>{{ " a la vista, explosivo en " | trans }}<strong>{{ "sabor" | trans }}</strong>. {{ "¿Tienes lo que hace falta para " | trans }}<strong>{{"deslumbrar" | trans }}</strong>{{ " con cada sorbo?" | trans }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
  
    </div>
  
    <!-- Controles del Carousel -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Siguiente</span>
    </button>
  </div>