<!DOCTYPE html>
<html lang=ca>
  <head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="../assets/css/arbol.css">
    
    <link rel="icon" href="/img/logobcn.ico">
    <title>La Receta Mágica | Example</title>
    </head>

    <body>
    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-dark bg-dark">
    <div class="container-fluid">

      <a class="navbar-brand" href="/">
      <img src="/img/bcnlogo.png" alt="escut de la ciutat de Barcelona" width="" height="24" class="d-inline-block align-text-top">
        BCN Trees
      </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link disable" aria-current="page" href="#">{{ "Inici" | gettext }}</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{ "Usuari" | gettext }}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/login">{{ "Inicia Sessió" | gettext }}</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/register">{{ "Registrar-se" | gettext }}</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{ "Idioma" | gettext }}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="?lang=ca">{{ "Català" | gettext }}</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="?lang=es">{{ "Castellà" | gettext }}</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="?lang=en">{{ "Anglès" | gettext }}</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/barcelona">Barcelona</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/news">{{ "Notícies" | gettext }}</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{ "Àrbres" | gettext }}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item disabled" href="#">{{ "Àrbres" | gettext }}</a></li>
              <li><a class="dropdown-item" href="#">{{ "Fulla caduca" | gettext }}</a></li>
              <li><a class="dropdown-item" href="#">{{ "Fulla perenne" | gettext }}</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">{{ "Costa" | gettext }}</a></li>
              <li><a class="dropdown-item" href="#">{{ "Interior" | gettext }}</a></li>
              <li><a class="dropdown-item" href="#">{{ "Muntanya" | gettext }}</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">{{ "Tots" | gettext }}</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="{{ "Buscar" | gettext }}" aria-label="Search">
          <button class="btn btn-outline-light" type="submit">{{ "Buscar" | gettext }}</button>
        </form>
        </div>
  </div>
</nav>


<br><br>

    <!-- Contingut -->
    <div class="container mt-5 mb-5">
        <h1 class="text-black fw-bold">{{ arbol.common_name }}</h1>
        <h2 class="text-muted fs-5">{{ arbol.genre_name}}</h2>

        <br>
        <!-- TODO:  en atributo description, luego incluirlo como una variable de twig, arbol.genre.description -->
            <p class="text-justify">
              {{ arbol.description }}
            </p>
    </div>

    <br>

    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img src="{{ arbol.imagen }}" class="img-fluid pic-tree rounded float-start w-100" alt="imagen arbol">
        </div>
        <div class="col-6"><h5>Característiques: </h5><table class="table">
          <tbody>
            <!-- for each attribute -->
            <tr>
              <td>Attribute...</td>
            </tr>
            <!-- close -->
            <tr>
              <td>Attribute...</td>
            </tr>
            <tr>
              <td>Attribute...</td>
            </tr>
            <tr>
              <td>Attribute...</td>
            </tr>
            <tr>
              <td>Attribute...</td>
            </tr>
            <tr>
              <td>Attribute...</td>
            </tr>
            <tr>
              <td>Attribute...</td>
            </tr>
          </tbody>
        </table>
        </div>
      </div>
    </div>



    <br>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
</body>

</div>
  <!-- Footer -->
  <footer class="bg-light py-4 mt-5">

    <div>
        <!-- Sección superior: Patrocinis i Xarxes Socials -->
        <div class="row align-items-center">
            <div class="col-md-6 d-flex justify-content-center align-items-center">
                <a href="https://web.gencat.cat/ca/inici" class="mx-3">
                    <img src="/../img/logogencat.png" alt="gencat" class="sponsor-logo sponsor-logo img-fluid">
                </a>
                <a href="https://www.diba.cat/es/" class="mx-3">
                    <img src="/../img/logodb.png" alt="diputaciobarcelona" class="sponsor-logo sponsor-logo2 sponsor-logo img-fluid">
                </a>
            </div>
            <div class="col-md-6 d-flex justify-content-center">
                <a href="https://facebook.com" class="mx-2 text-dark"><i class="fab fa-facebook fa-2x"></i></a>
                <a href="https://twitter.com" class="mx-2 text-dark"><i class="fab fa-twitter fa-2x"></i></a>
                <a href="https://instagram.com" class="mx-2 text-dark"><i class="fab fa-instagram fa-2x"></i></a>
            </div>
        </div>
        <br>

        <!-- Sección inferior: Derechos reservados -->
        <div class="row mt-3">
            <div class="col text-center">
                <p class="mb-0">&copy; 2025 BCN Trees. Todos los derechos reservados.</p>
            </div>
        </div>
    </div>
  </footer>
</html>

