<!-- Footer -->
<footer class="bg-dark text-white py-5 sticky-bottom">
    <div class="container">
        <div class="row">
            <!-- Columna de texto o información -->
            <div class="col-lg-6 col-md-6 mb-4 mb-lg-0">
                <h5 class="text-uppercase mb-3">La Receta Mágica</h5>
                <p>{{ "Ya seas principiante o chef experimentado, nuestras recetas interactivas te guiarán de manera fácil y divertida para crear platos deliciosos. ¡Explora, cocina y disfruta!" | trans }}</p>
            </div>
  
            <!-- Columna de enlaces -->
            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                <h5 class="text-uppercase mb-3">{{ "Enlaces rápidos" | trans }}</h5>
                <ul class="list-unstyled">
                    <li><a href="/" class="text-white footy">{{ "Inicio" | trans }}</a></li>
                    <li><a href="/recetas" class="text-white footy">{{ "Recetas" | trans }}</a></li>
                    <li><a href="/blog" class="text-white footy">{{ "Blog" | trans }}</a></li>
                    <li><a href="/contacto" class="text-white footy">{{ "Contacto" | trans }}</a></li>
                </ul>
            </div>

            
  
            <!-- Columna de redes sociales -->
            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                <h5 class="text-uppercase mb-3">{{ "Síguenos" | trans }}</h5>
                <div>
                    <a href="https://www.facebook.com/larecetamagica" class="text-white me-3">
                        <i class="fab fa-square-facebook fa-lg"></i>
                    </a>
                    <a href="https://www.twitter.com/larecetamagica" class="text-white me-3">
                        <i class="fab fa-x-twitter fa-lg"></i>
                    </a>
                    <a href="https://www.instagram.com/larecetamagica" class="text-white me-3">
                        <i class="fab fa-instagram fa-lg"></i>
                    </a>
                    <a href="https://www.tiktok.com/larecetamagica" class="text-white me-3">
                      <i class="fab fa-tiktok fa-lg"></i>
                  </a>
                    <a href="https://www.youtube.com/larecetamagica" class="text-white me-3">
                        <i class="fab fa-youtube fa-lg"></i>
                    </a>
                </div>
            </div>
        </div>
  
        <hr class="my-4" />
  
        <!-- Copyright -->
        <div class="text-center">
            <p class="mb-0">{{ "© 2025 La Receta Mágica. Todos los derechos reservados." | trans }}</p>
        </div>
    </div>
  </footer>