<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    
    <!-- Tipo -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sigmar&family=Walter+Turncoat&display=swap" rel="stylesheet">
    
    <!-- CSS -->
    <link rel="stylesheet" href="../assets/css/test.css">
    <!-- Data -->
    <link rel="icon" href="/img/favicon/recetamagica.ico">
    <title>La Receta Mágica | {{ "Registro" | trans }}</title>
</head>

<body>
    <!-- Navbar -->
    {% include '/navbar.html' %}

    <div class="container mt-5">
        <div class="row align-items-center">
            <!-- Texto (izquierda en md+) -->
            <div class="col-12 col-md-8 text-md-start text-center mb-3 mb-md-0">
                <h1 class="text-black fw-bold">Formulario de registro</h1>
                <h2 class="text-muted fs-5">¡Bienvenidos a La Receta Mágica!</h2>
            </div>
    
            <!-- Imagen (derecha en md+) -->
            <div class="col-12 col-md-4 d-flex justify-content-center justify-content-md-end">
                <img src="../img/profile/test.png" alt="Foto de perfil" class="rounded-circle img-fluid" style="max-width: 120px; height: auto;">
            </div>
        </div>
    </div>
    
    
    <!-- Content -->
    <form action="/registro" method="POST" enctype="multipart/form-data">
        <div class="container mt-5 mb-5">
            <!-- Mensaje de error si se hay algun valor incorrecto -->
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endif %}
            <!-- Mensaje de validación -->
            {% if success_message %}
                <div class="alert alert-success" role="alert">
                    {{ success_message }}
                </div>
            {% endif %}
     
    
            <!-- Username -->
            <div class="mb-3">
                <label for="username" class="form-label">Nombre de Usuario</label>
                <input type="text" class="form-control required" id="username" name="username" placeholder="Usuario" required>
            </div>
    
            <!-- Email -->
            <div class="mb-3">
                <label for="email" class="form-label">Correo electrónico</label>
                <input type="email" class="form-control required" id="email" name="email" placeholder="ejemplo@email.com" required>
            </div>
    
            <!-- Password -->
            <div class="mb-3">
                <label for="password" class="form-label">Contraseña</label>
                <input type="password" class="form-control required" id="password" name="password" required>
            </div>
    
            <!-- Confirm Password (no se envía, solo para validación JS opcional) -->
            <div class="mb-3">
                <label for="confirmPassword" class="form-label">Confirmar Contraseña</label>
                <input type="password" class="form-control required" id="confirmPassword">
            </div>
    
            <br>
            <hr class="dropdown-divider">
            <br>
    
            <!-- Nombre -->
            <div class="mb-3">
                <label for="name" class="form-label">Nombre</label>
                <input type="text" class="form-control required" id="name" name="name" placeholder="Nombre" required>
            </div>
    
            <!-- Apellidos -->
            <div class="mb-3">
                <label for="surname1" class="form-label">Primer Apellido</label>
                <input type="text" class="form-control" id="surname1" name="surname1" placeholder="Primer Apellido" required>
            </div>
            <div class="mb-3">
                <label for="surname2" class="form-label">Segundo Apellido</label>
                <input type="text" class="form-control" id="surname2" name="surname2" placeholder="Segundo Apellido" required>
            </div>
    
            <!-- Fecha de nacimiento y género -->
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="birthdate" class="form-label">Fecha de Nacimiento</label>
                    <input type="date" class="form-control" id="birthdate" name="birthdate" required>
                </div>
                <div class="col-md-6">
                    <label for="genre" class="form-label">Género</label>
                    <select class="form-select" id="genre" name="genre" required>
                        <option value="Mujer">Mujer</option>
                        <option value="Hombre">Hombre</option>
                        <option value="Prefiero no contestar" selected>Prefiero no contestar</option>
                    </select>                                      
                </div>
            </div>
    
            <!-- País -->
            <div class="mb-3">
                <label for="country" class="form-label">País</label>
                <input type="text" class="form-control" id="country" name="country" placeholder="País" required>
            </div>

            <br>
            <hr class="dropdown-divider">
            <br>
    
            <!-- Avatar -->
            <div class="mb-3">
                <label for="avatar" class="form-label">Foto de perfil</label>
                <input class="form-control" type="file" id="avatar" name="avatar">
            </div>
    
            <br>
            <hr class="dropdown-divider">
            <br>
    
            <!-- Aceptar términos -->
            <div class="col-12 mb-3">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="termsCheck" required>
                    <label class="form-check-label" for="termsCheck">
                        Acepto los <strong><a href="/terminos-y-condiciones.html" target="_blank">Términos y Condiciones</a></strong> y la <strong><a href="/politica-de-privacidad.html" target="_blank">Política de Privacidad</a></strong>.
                    </label>
                </div>
            </div>

    
            <!-- Botones -->
            <div class="col-12 mb-3 d-flex justify-content-end">
                <button class="btn btn-outline-dark me-3" type="reset">Limpiar</button>
                <button class="btn btn-pastel" type="submit">Registrarse</button>
            </div>
    
        </div>
    </form>
    
<br><br>


    <!-- Footer -->
    {% include '/footer.html' %}
  
    <!-- Scripts de Bootstrap: Asegúrate de cargarlos al final para que funcionen correctamente -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
    <script>
        const toggler = document.querySelector('.custom-toggler');
        const navbar = document.getElementById('navbarSupportedContent');
      
        toggler.addEventListener('click', () => {
          toggler.classList.toggle('open');
        });
      </script>
      <script>
        document.addEventListener('click', function (event) {
          const isClickInside = navbar.contains(event.target) || toggler.contains(event.target);
          if (!isClickInside && navbar.classList.contains('show')) {
            toggler.click(); // Trigger collapse
          }
        });
      </script>
</body>
</html>
