<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    
    <!-- Tipo -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sigmar&family=Walter+Turncoat&display=swap" rel="stylesheet">
    
    <!-- CSS -->
    <link rel="stylesheet" href="../assets/css/test.css">
    <!-- Data -->
    <link rel="icon" href="/img/favicon/recetamagica.ico">
    <title>La Receta Mágica | {{ "Cocina paso a paso" | trans }}</title>
</head>

<body>
    <!-- Navbar -->
    {% include '/navbar.html' %}

    <!-- Caroussel -->
    {% include 'caroussel.html' %}

    <br>    <br>
  
    <!-- Barra buscador -->
    {% include 'searcher.html' %}

    <br>
  
    <!-- Phrases -->
    {% include 'phrases.html' with { phrase: phrase1, author: author1 } %}
     
    <br>
    <!--
    <div>
        <div>
            <main class="col-12 col-md-12 col-lg-12 p-5">
                <h1>La Receta Mágica</h1>
                <p class="text_content">Tu espacio online donde encontrarás las mejores recetas de cocina de internet con instrucciones paso a paso.</p>
                <p class="text_content">Ya seas principiante o chef experimentado, nuestras recetas interactivas te guiarán de manera fácil y divertida para crear platos deliciosos. ¡Explora, cocina y disfruta!</p>
            </main>
        </div>
    </div>
    -->

    <div>
        <!-- Secció noticies -->
        <section class="container my-4">
            <h2 class="text mb-4">
                <a href="/recetas" class="link_amp">{{ "Recetas más populares" | trans }}</a>
            </h2>
          <div class="row g-4">
        
          <!-- Receta 1 -->
          <div class="col-md-4">
            <div class="card h-100">
              <img src="img/recipe/occ.png" class="card-img-top" alt="Noticia 1">
              <div class="card-body">
                <h5 class="card-title">{{ "Cheesecake de Oreo" | trans }}</h5>
                <p class="card-text">{{ "Tarta de queso con Oreo, sirope de fresa y crema de chocolate blanco" | trans }}</p>
                <a href="/recetas/" class="btn btn-pastel">{{ "Leer Receta" | trans }}</a>
              </div>
            </div>
          </div>
    
          <!-- Receta 2 -->
          <div class="col-md-4">
            <div class="card h-100">
              <img src="img/recipe/rbtest.png" class="card-img-top" alt="Noticia 2">
              <div class="card-body">
                <h5 class="card-title">{{ "Roscón de Red Velvet" | trans }}</h5>
                <p class="card-text">{{ "Roscón de Red Velvet con Mascarpone y merengue roja" | trans }}</p>
                <a href="/recetas/" class="btn btn-pastel">{{ "¡A la Receta!" | trans }}</a>
              </div>
            </div>
          </div>
    
          <!-- Receta 3 -->
          <div class="col-md-4">
            <div class="card h-100">
              <img src="img/recipe/bgo.png" class="card-img-top" alt="Noticia 3">
              <div class="card-body">
                <h5 class="card-title">{{ "Brazo de gitano de Red Velvet" | trans }}</h5>
                <p class="card-text">{{ "Brazo de gitano. ¡Bizcocho de Red Velvet con Mascarpone y Oreo!" | trans }}</p>
                <a href="/recetas/" class="btn btn-pastel">{{ "Mostrar Receta" | trans }}</a>
              </div>
            </div>
          </div>

        </div>
      </section>
    </div>

    <br>
    <!-- Phrases -->
    {% include 'phrases.html' with { phrase: phrase2, author: author2 } %}
    <br>


    <section class="container my-4">
        <h2 class="text mb-4">
            <a href="/blog" class="link_amp">{{ "Últimos Artículos de Cocina" | trans }}</a>
        </h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="img/blog/ice.jpg" class="card-img-top" alt="Tipos de hielo usados para la cocteleria">
                    <div class="card-body">
                        <h5 class="card-title">Hielo en coctelería: el ingrediente invisible que lo cambia todo</h5>
                        <p class="card-text">Descubre qué tipo de hielo usar en cada cóctel y por qué su forma importa más de lo que imaginas.</p>
                        <a href="/blog/tendencias-culinarias" class="btn btn-pastel">Leer Más</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="img/blog/harina.jpg" class="card-img-top" alt="Harina usada para elaborar pan">
                    <div class="card-body">
                        <h5 class="card-title">Pan: súper vs. panadería. Una diferencia nutricional</h5>
                        <p class="card-text">Mismo aspecto, mundos opuestos: descubre qué hay realmente detrás del pan que comes cada día.</p>
                        <a href="/blog/mejorar-habilidades" class="btn btn-pastel">Leer Más</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="img/blog/glass.jpg" class="card-img-top" alt="Tipos de vasos para la cocteleria">
                    <div class="card-body">
                        <h5 class="card-title">El vaso correcto: el secreto que no te contaron para un mejor cóctel</h5>
                        <p class="card-text">Elegir bien el vaso cambia el sabor, el aroma… y toda la experiencia. ¿Qué tipos existen?</p>
                        <a href="/blog/cenas-rapidas" class="btn btn-pastel">Leer Más</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <br><br>

   <!-- Footer -->
   {% include '/footer.html' %}
  
    <!-- Scripts de Bootstrap: Asegúrate de cargarlos al final para que funcionen correctamente -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
    <script>
        const toggler = document.querySelector('.custom-toggler');
        const navbar = document.getElementById('navbarSupportedContent');
      
        toggler.addEventListener('click', () => {
          toggler.classList.toggle('open');
        });
      </script>
      <script>
        document.addEventListener('click', function (event) {
          const isClickInside = navbar.contains(event.target) || toggler.contains(event.target);
          if (!isClickInside && navbar.classList.contains('show')) {
            toggler.click(); // Trigger collapse
          }
        });
      </script>
</body>
</html>
