<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light sticky-top" style="background-color: #FFD1EA;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img src="/img/favicon/recetamagica.ico" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
          <strong>La Receta Mágica</strong>
        </a>
        <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
            <span class="toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-lg-auto my-2 my-lg-0">
                <li class="nav-item dropdown zoom">
                    <a class="nav-link dropdown-toggle active" href="/recetas" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <strong>{{ "Recetas" | trans }}</strong>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item bg-color-all zoom" href="/recetas"><strong>{{ "¡Ir a Recetas!" | trans }}</strong></a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item zoom" href="/crear-receta/formulario1"><strong>{{ "Crear Receta" | trans }}</strong></a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item zoom" href=""><strong>{{ "Entrantes" | trans }}</strong></a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item zoom" href=""><strong>{{ "Primeros" | trans }}</strong></a></li>
                        <li><a class="dropdown-item zoom" href=""><strong>{{ "Segundos" | trans }}</strong></a></li>
                        <li><a class="dropdown-item zoom" href=""><strong>{{ "Postres" | trans }}</strong></a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item zoom" href=""><strong>{{ "Bebidas" | trans }}</strong></a></li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link active zoom" aria-current="page" href="/desafios"><strong>{{ "Desafios" | trans }}</strong></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active zoom" aria-current="page" href="/blog"><strong>{{ "Blog" | trans }}</strong></a>
                </li>

                {% if session.username is defined %}
                <li class="nav-item dropdown zoom">
                    <a class="nav-link dropdown-toggle active" href="" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <strong>{{ "Perfil" | trans }}</strong>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="userDropdown">
                        <li><a class="dropdown-item zoom" href="/perfil"><strong>{{ "Perfil" | trans }}</strong></a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item zoom" href="/logout"><strong>{{ "Cerrar Sesión" | trans }}</strong></a></li>
                    </ul>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link active zoom" aria-current="page" href="/login"><strong>{{ "Iniciar Sesión" | trans }}</strong></a>
                </li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>