<br>

<hr class="my-4 mx-auto w-50" />

<div class="col-12 col-md-12 col-lg-12 p-5">
    <figure class="text-center">
        <blockquote class="blockquote">
            <p>Una receta no tiene alma. Es el cocinero quien debe dársela.</p>
        </blockquote>
        <figcaption class="blockquote-footer">
            By <cite title="Source Title">Thomas Keller</cite>
        </figcaption>
    </figure>
</div>

<hr class="my-4 mx-auto w-75" />

<br>

<!-- SELECT * FROM phrases ORDER BY RAND() LIMIT 1; -->