RewriteEngine On

RewriteBase /api/

RewriteRule ^index\\.php$ - [QSA,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /api/index.php [QSA,L]

# Redirige el acceso directo a la carpeta a otra URL
RewriteEngine On
RewriteCond %{REQUEST_URI} /api/$
RewriteRule ^.*$ http://www.bcntrees.local/404 [R=301,L]